<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Security Global Tech | Sistemas de seguridad y video vigilancia perimetral.</title>
	<link rel="stylesheet" href="/static/css/output.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="shortcut icon" href="/static/assets/favicon.ico" type="image/x-icon">
</head>

<body class="bg-black">
	<a href="#"><img src="/static/assets/whatsapp.svg"
			class="rounded-full fixed bottom-7 right-7 z-10 hover:scale-150 transition shadow-xl"></a>
	<header class="bg-black p-3 sticky top-0 z-50 shadow-sm">
		<nav class="max-w-7xl m-auto flex items-center justify-between text-white">
			<a href="#"><img src="/static/assets/logo-full-white.svg"
					alt="Security Global Tech Sistemas de seguridad y video vigilancia perimetral Logo" class="w-56"></a>
			<ul class="hidden md:flex space-x-6 text-xs">
				<li><a href="#" class=" py-3 border-b-2 transition border-transparent hover:border-blue-600">Inicio</a>
				</li>
				<li><a href="#soluciones"
						class=" py-3 border-b-2 transition border-transparent hover:border-blue-600">Soluciones</a>
				</li>
				<li><a href="#nosotros"
						class=" py-3 border-b-2 transition border-transparent hover:border-blue-600">Nosotros</a>
				</li>
				<li><a href="#"><i class="fa-brands fa-facebook-f fa-lg"></i></a></li>
				<li><a href="#"><i class="fa-brands fa-instagram fa-lg"></i></a></li>
				<li><a href="#"><i class="fa-brands fa-youtube fa-lg"></i></a></li>
				<li><a href="#"
						class="border border-white rounded-md px-6 py-2 hover:bg-blue-600 hover:border-blue-600 hover:text-white transition">Contacto</a>
				</li>
			</ul>
		</nav>
	</header>
	<!-- HERO SECTION -->
	<section class="relative bg-black/90 flex overflow-hidden">
		<img src="/static/assets/monitor.jpg" class="object-cover object-center w-full h-full absolute -z-10">
		<img src="/static/assets/checkboard.svg" class="absolute right-0 opacity-70">
		<div class="max-w-7xl m-auto text-white w-full p-6 py-52">
			<h1 class="text-5xl font-semibold mb-6">Sistemas de seguridad y <br> video vigilancia a la medida.
			</h1>
			<p class="mb-10">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore, minus?</p>
			<a href="#"
				class="px-7 py-3 border hover:border-white hover:bg-transparent transition rounded-md bg-blue-600 border-blue-600 inline-block mb-10">Solicita
				una
				cotización</a>
			<div class="flex space-x-6 items-center opacity-60 pointer-events-none">
				<img src="/static/assets/hikvision.svg" alt="Hikvision Logo" class="w-24">
				<img src="/static/assets/epcom.svg" alt="Epcom Logo" class="w-24">
				<img src="/static/assets/ezviz.svg" alt="Ezviz Logo" class="w-24">
			</div>
		</div>
	</section>

	<main class="bg-white p-6">
		<!-- SERVICES -->
		<div class="grid grid-cols-1 lg:grid-cols-3 gap-4 max-w-7xl m-auto py-36" id="soluciones">
			<div class="relative max-w-sm bg-black rounded-md shadow-2xl overflow-hidden grid grid-rows-3 p-6">
				<img src="/static/assets/hogar.png" class="absolute object-cover object-center w-full h-full opacity-60">
				<div class="row-span-2 z-10">
					<p class="bg-black text-white rounded-lg px-6 py-2 inline-block text-sm shadow-xl">Para el hogar
					</p>
				</div>
				<div class="z-10 grid grid-rows-2">
					<h5 class="text-white text-xl font-semibold mb-4">Soluciones de alarma y circuito cerrado
						especializados
						en el hogar</h5>
					<p class="text-slate-300 text-sm mb-4">Lo último en tecnología para protección de viviendas.</p>
					<div>
						<a href="#"
							class="bg-white border border-white text-black hover:bg-transparent hover:text-white transition rounded-lg px-6 py-2 inline-block text-sm shadow-xl float-right">Me
							interesa</a>
					</div>
				</div>
			</div>
			<div class="relative max-w-sm bg-black rounded-md shadow-2xl overflow-hidden grid grid-rows-3 p-6">
				<img src="/static/assets/empresas.png" class="absolute object-cover object-center w-full h-full opacity-60">
				<div class="row-span-2 z-10">
					<p class="bg-white text-black font-semibold rounded-lg px-6 py-2 inline-block text-sm shadow-xl">
						Para empresas</p>
				</div>
				<div class="z-10 grid grid-rows-2">
					<h5 class="text-white text-xl font-semibold mb-4">Desarrollo de projectos especiales a la medida.
					</h5>
					<p class="text-slate-300 text-sm mb-4">Soluciones especializadas para empresas y proyectos.</p>
					<div>
						<a href="#"
							class="bg-white border border-white text-black hover:bg-transparent hover:text-white transition rounded-lg px-6 py-2 inline-block text-sm shadow-xl float-right">Me
							interesa</a>
					</div>
				</div>
			</div>
			<div class="relative max-w-sm bg-black rounded-md shadow-2xl overflow-hidden grid grid-rows-3 p-6">
				<img src="/static/assets/cableado.png" class="absolute object-cover object-center w-full h-full opacity-60">
				<div class="row-span-2 z-10">
					<p class="bg-black text-white rounded-lg px-6 py-2 inline-block text-sm shadow-xl">Cableado
						estructurado</p>
				</div>
				<div class="z-10 grid grid-rows-2">
					<h5 class="text-white text-xl font-semibold mb-4">Cableado certificado para voz y datos.</h5>
					<p class="text-slate-300 text-sm mb-4">Diseño e implementación de cableado estructurado para voz y
						datos.</p>
					<div>
						<a href="#"
							class="bg-white border border-white text-black hover:bg-transparent hover:text-white transition rounded-lg px-6 py-2 inline-block text-sm shadow-xl float-right">Me
							interesa</a>
					</div>
				</div>
			</div>
		</div>

		<!-- ABOUT US -->
		<div id="nosotros"
			class="relative overflow-hidden h-full bg-[url('/static/assets/building.png')] bg-cover bg-center rounded-lg shadow-2xl">
			<div class="max-w-7xl m-auto text-white text-center px-6 py-20">
				<p class="tracking-widest text-xs mb-2 text-slate-300 font-semibold">SECURITY GLOBAL TECH</p>
				<h1 class="text-3xl font-bold mb-6">Dedicados a brindarte seguridad.</h1>
				<a href="/nosotros"
					class="text-white border bg-blue-600 border-blue-600 transition px-6 py-2 rounded-md hover:bg-transparent hover:border-white">Acerca
					de nosotros</a>
			</div>
		</div>

	</main>
	<footer class="bg-black px-6 py-10 text-white text-center">
		<div class="flex space-x-20 text-center justify-center mb-8">
			<i class="fa-brands fa-facebook-f fa-lg"></i>
			<i class="fa-brands fa-instagram fa-lg"></i>
			<i class="fa-brands fa-youtube fa-lg"></i>
		</div>
		<p class="text-sm">&copy; Security Global Tech 2022</p>
	</footer>
</body>

</html>