<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <link rel="icon" href="/static/assets/icon-white.ico" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Security Global Tech | Seguridad y video vigilancia perimetral</title>
</head>
<body class="bg-black relative">
    <!-- WHATSAPP LINK -->
    <a href="https://wa.me/525527197290" target="_blank" class="relative"><img src="/static/assets/whatsapp.svg" class="rounded-full bottom-10 right-10 w-12 fixed hover:scale-125 shadow-lg transition ease-in-out 2s z-20"></a>

    <div class="bg-gradient-to-tr from-violet-600 to-blue-500 animate-pulse-slow h-96 w-96 blur-xl absolute rounded-full -z-10"></div>
    <div class="bg-gradient-to-tr from-violet-600 to-blue-500 h-[700px] animate-pulse-slow delay 3s right-0 -top-32 w-[700px] blur-xl absolute rounded-full -z-10"></div>
    <header class="py-10 px-4 bg-black/80 backdrop-blur-3xl shadow-xl relative text-white overflow-hidden">
        <img src="/static/assets/checkboard.svg" class="absolute right-0 opacity-50 -z-10 animate-pulse-slow">
        <nav class="flex items-center justify-between max-w-7xl m-auto">
            <a href="/"><img src="/static/assets/logo-full-white.svg" alt="Security Global Tech logo" class="w-56"></a>
            <ul class="hidden md:flex items-center text-sm">
                <li class="mx-3 text-slate-300 border-2 border-transparent hover:border-b-blue-600 py-2 hover:text-white"><a href="/">Inicio</a></li>
                <li class="mx-3 text-slate-300 border-2 border-transparent hover:border-b-blue-600 py-2 hover:text-white"><a href="/nosotros">Nosotros</a></li>
                <li class="mx-3 text-slate-300 border-2 border-transparent hover:border-b-blue-600 py-2 hover:text-white"><a href="/soluciones">Soluciones</a></li>
                <li><a href="https://www.facebook.com/Security-Global-Tech-107531181945144" target="_blank"><i class="fa-brands fa-facebook-f fa-lg mx-3"></i></a></li>
                <li><a href="https://www.instagram.com/securityglobalt3ch" target="_blank"><i class="fa-brands fa-instagram fa-lg mx-3"></i></a></li>
                <li><a href="/"><i class="fa-brands fa-youtube fa-lg mx-3"></i></a></li>
                <li class="mx-3 text-slate-300 border transition ease-in-out 1s border-white hover:border-blue-600 cursor-pointer hover:bg-blue-600 hover:text-white px-6 py-2 rounded-md shadow-md"><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <div class="max-w-7xl w-full px-6 py-4 m-auto min-h-full">
            <div class="mt-10 sm:mt-44">
                <h1 class="text-4xl sm:text-5xl mb-5 font-semibold">Sistemas de seguridad y <br> video vigilancia a la medida.</h1>
                <p class="mb-8 sm:mb-16 text-base sm:text-lg text-slate-300">Sistemas de alarma y video vigilancia</p>
                <a href="/" class="bg-blue-600 border inline-block mb-14 font-semibold border-blue-600 transition ease-in-out 1s hover:border-white hover:bg-transparent hover:text-white text-white px-8 py-4 rounded-md">Solicita una cotización</a>
                <div class="w-full flex justify-between items-center max-w-sm opacity-50 pointer-events-none">
                    <img src="/static/assets/epcom.svg" class="w-24">
                    <img src="/static/assets/hickvision.svg" class="w-24">
                    <img src="/static/assets/ezviz.svg" class="w-24">
                </div>
            </div>
        </div>
    </header>
    <!-- MAIN CONTENT -->
    <main class="bg-slate-100 h-full rounded-t-3xl">

        <!-- services -->
        <div class="max-w-7xl m-auto py-32 px-6" id="soluciones">
            <p class="tracking-widest text-xs mb-2 text-blue-600 font-semibold">SERVICIOS</p>
            <h1 class="text-4xl font-bold mb-2">Soluciones para cualquier necesidad.</h1>
            <p class="mb-20">Explora los servicios en seguridad que se ajustan a tus necesidades.</p>
            <!-- CARDS GRID -->
            <div class="max-w-7xl grid grid-rows-3 md:grid-rows-none md:grid-cols-3 gap-6 m-auto">
                <div class="bg-white relative shadow-xl overflow-hidden p-6 rounded-xl hover:scale-105 transition 1s ease-in-out">
                    <h5 class="bg-orange-300 px-6 py-2 z-10 inline-block rounded-sm text-xs text-black font-semibold shadow-xl">Para Hogares</h5>
                    <h4 class="text-xl font-semibold mt-10">Soluciones de video vigilancia perimetral para hogares.</h4>
                    <p class="mt-5 text-slate-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, numquam.</p>
                    <a href="/" class="text-sm border border-blue-600 hover:bg-blue-600 text-blue-600 hover:text-white px-6 py-2 rounded-md shadow-md float-right mt-10 flex items-center transition ease-in-out 1s">Me interesa<svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg></a>
                </div>
                <div class="bg-white relative shadow-xl overflow-hidden p-6 rounded-xl hover:scale-105 transition 1s ease-in-out">
                    <h5 class="bg-orange-300 px-6 py-2 z-10 inline-block rounded-sm text-xs text-black font-semibold shadow-xl">Para Empresas</h5>
                    <h4 class="text-xl font-semibold mt-10">Desarrollo de projectos especiales a la medida.</h4>
                    <p class="mt-5 text-slate-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, numquam.</p>
                    <a href="/" class="text-sm border border-blue-600 hover:bg-blue-600 text-blue-600 hover:text-white px-6 py-2 rounded-md shadow-md float-right mt-10 flex items-center transition ease-in-out 1s">Me interesa<svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg></a>
                </div>
                <div class="bg-white relative shadow-xl overflow-hidden p-6 rounded-xl hover:scale-105 transition 1s ease-in-out">
                    <h5 class="bg-orange-300 px-6 py-2 z-10 inline-block rounded-sm text-xs text-black font-semibold shadow-xl">Cableado Estructurado</h5>
                    <h4 class="text-xl font-semibold mt-10">Cableado para voz y datos certificado.</h4>
                    <p class="mt-5 text-slate-600">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, numquam.</p>
                    <a href="/" class="text-sm border border-blue-600 hover:bg-blue-600 text-blue-600 hover:text-white px-6 py-2 rounded-md shadow-md float-right mt-10 flex items-center transition ease-in-out 1s">Me interesa<svg xmlns="http://www.w3.org/2000/svg" class="ml-2 h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14 5l7 7m0 0l-7 7m7-7H3" />
                      </svg></a>
                </div>
            </div>
        </div>
        <!-- ABOUT US -->
        <div class="relative overflow-hidden h-full bg-[url('/static/assets/building.png')] bg-cover bg-center rounded-t-3xl shadow-2xl">
            <div class="max-w-7xl m-auto text-white text-center px-6 py-20">
                <p class="tracking-widest text-xs mb-2 text-slate-300 font-semibold">SECURITY GLOBAL TECH</p>
                <h1 class="text-3xl font-bold mb-6">Dedicados a brindarte seguridad.</h1>
                <a href="/nosotros" class="text-white border border-white transition ease-in-out 1s px-6 py-2 rounded-md hover:bg-white hover:text-black">Acerca de nosotros</a>
            </div>
        </div>
        <!-- CONTACT -->

    </main> 
    <!-- FOOTER -->
    <footer class="bg-slate-900/70">
        <div class="max-w-7xl m-auto px-6 py-8 text-slate-300 ">
            <ul class="flex justify-around max-w-xs m-auto mb-5">
                <li><a href="https://www.facebook.com/Security-Global-Tech-107531181945144" target="_blank"><i class="fa-brands fa-facebook-f fa-lg mx-3"></i></a></li>
                <li><a href="https://www.instagram.com/securityglobalt3ch" target="_blank"><i class="fa-brands fa-instagram fa-lg mx-3"></i></a></li>
                <li><a href="/"><i class="fa-brands fa-youtube fa-lg mx-3"></i></a></li>
            </ul>
            <p class="text-sm text-center mb-2">&copy 2022 Security Global Tech</p>
            <p class="text-xs text-slate-500 text-center">Para mas información: info@securityglobaltech.com</p>
        </div>
    </footer>
</body>
</html>