<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/output.css">
    <link rel="icon" href="/static/assets/icon-white.ico" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Security Global Tech | Seguridad y video vigilancia perimetral</title>
</head>
<body class="bg-black relative">
    <!-- WHATSAPP LINK -->
    <a href="https://wa.me/525527197290" target="_blank" class="relative"><img src="/static/assets/whatsapp.svg" class="rounded-full bottom-10 right-10 w-12 fixed hover:scale-125 shadow-lg transition ease-in-out 2s z-20"></a>

    <header class="py-10 px-4 bg-black/80 backdrop-blur-3xl shadow-xl relative text-white overflow-hidden">
        <img src="/static/assets/checkboard.svg" class="absolute right-0 opacity-50 -z-10 animate-pulse-slow">
        <nav class="flex items-center justify-between max-w-7xl m-auto">
            <a href="/"><img src="/static/assets/logo-full-white.svg" alt="Security Global Tech logo" class="w-56"></a>
            <ul class="hidden md:flex items-center text-sm">
                <li class="mx-3 text-slate-300 border-2 border-transparent hover:border-b-blue-600 py-2 hover:text-white"><a href="/">Inicio</a></li>
                <li class="mx-3 text-white border-b-2 border-b-blue-600 py-2"><a href="/nosotros">Nosotros</a></li>
                <li class="mx-3 text-slate-300 border-2 border-transparent hover:border-b-blue-600 py-2 hover:text-white"><a href="/soluciones">Soluciones</a></li>
                <li><a href="https://www.facebook.com/Security-Global-Tech-107531181945144" target="_blank"><i class="fa-brands fa-facebook-f fa-lg mx-3"></i></a></li>
                <li><a href="https://www.instagram.com/securityglobalt3ch" target="_blank"><i class="fa-brands fa-instagram fa-lg mx-3"></i></a></li>
                <li><a href="/"><i class="fa-brands fa-youtube fa-lg mx-3"></i></a></li>
                <li class="mx-3 text-slate-300 border transition ease-in-out 1s border-white hover:border-blue-600 cursor-pointer hover:bg-blue-600 hover:text-white px-6 py-2 rounded-md shadow-md"><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- MAIN CONTENT -->
    <main class="bg-slate-100 h-full rounded-t-3xl z-30">
        <!-- ABOUT US -->
        <div class="max-w-7xl m-auto py-52 px-6 flex flex-col lg:flex-row justify-between">
            <div class="mr-6">
                <p class="tracking-widest text-xs mb-2 text-blue-600 font-semibold">ACERCA DE NOSOTROS</p>
                <h2 class="text-4xl font-bold mb-4">Somos una empresa dedicada a <br class="hidden md:block"> brindarte seguridad.</h2>
                <p class="max-w-4xl leading-8 mb-10">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere voluptates voluptatibus assumenda iste fugit minima id reprehenderit, perferendis nesciunt minus? Officiis rerum animi eum dolorum laborum? Beatae sunt, fugiat minus molestiae aspernatur blanditiis impedit tenetur quia, corporis iste vel fuga!</p>
            </div>
            <div class="overflow-hidden rounded-xl shadow-xl">
                <img src="/static/assets/monitor.jpg" alt="Sistema de seguridad integral" class="object-cover object-center w-full h-full pointer-events-none">
            </div>
        </div>
        <!-- EXPERIENCE -->
        <div class="bg-white w-full">
            <div class="max-w-7xl py-32 px-6 m-auto">
                <p class="tracking-widest text-xs mb-2 text-blue-600 font-semibold text-center">NUESTRA EXPERIENCIA</p>
                <h3 class="text-3xl font-bold text-center">Capacitados para realizar tus proyectos</h3>
            </div>
        </div>
    </main> 
    <!-- FOOTER -->
    <footer class="bg-slate-900/70">
        <div class="max-w-7xl m-auto px-6 py-8 text-slate-300 ">
            <ul class="flex justify-around max-w-xs m-auto mb-5">
                <li><a href="https://www.facebook.com/Security-Global-Tech-107531181945144" target="_blank"><i class="fa-brands fa-facebook-f fa-lg mx-3"></i></a></li>
                <li><a href="https://www.instagram.com/securityglobalt3ch" target="_blank"><i class="fa-brands fa-instagram fa-lg mx-3"></i></a></li>
                <li><a href="/"><i class="fa-brands fa-youtube fa-lg mx-3"></i></a></li>
            </ul>
            <p class="text-sm text-center mb-2">&copy 2022 Security Global Tech</p>
            <p class="text-xs text-slate-500 text-center">Para mas información: info@securityglobaltech.com</p>
        </div>
    </footer>
</body>
</html>